/*
 * lay-out
 */

.wrapper {
  width: 100%;
  padding: 0 50px 0 90px;
}

.list--horizontal {
  .list__item {
    display: inline-block;
    margin-right: 24px;
    margin-left: -3px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*
 * components
 */

.header {
  padding-top: 140px;
  &__tag {
    font-size: 32px;
    text-transform: uppercase;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    &__text {
      font-family: 'ray-two';
    }
  }
}

.introduction {
  padding-bottom: 70px;
    &__column {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      &__text {
        font-family: 'ray-two';
        font-size: 50px;
        line-height: 1.4em;
      }
      &__portrait {
        height: 400px;
      }
    }
    &__column--left {
      width: 45%;
      padding-top: 90px;
    }
    &__column--right {
      position: relative;
      padding-top: 40px;
    }
}

.profile {
  background: #000;
  &__characteristics {
    padding: 140px 40px 136px 0;
    position: relative;
    &__img {
      position: relative;
      height: 273.5px;
      width: 215px;
      margin: 0 auto;
      background: url("../img/portrait--silhouette.png") no-repeat;
      @include image_2x("../img/portrait--silhouette@2x.png", 100%, 100%);
      &__text {
        position: absolute;
        font-family: 'ray-two';
        font-size: 24px;
        color: #fff;
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        padding: 0 0 7px 30px;
      }
      &__text--mouth {
        top: 10px;
        left: 200px;
      }
      &__text--paw {
        bottom: 36px;
        left: 227px;
      }
      &__text--tail, &__text--head {
        padding: 0 30px 7px 0;
      }
      &__text--tail {
        top: 27px;
        left: -360px;
      }
      &__text--head {
        top: -40px;
        left: -220px;
      }
    }
  }
}

/*
 * Styling
 */

.textbox {
  position: absolute;
  border: 4px solid #000;
  background: #fff;
  font-family: 'ray-two';
  font-size: 30px;
  padding: 25px 20px 20px;
  &:after {
    position: absolute;
    top: -14px;
    left: 25px;
    padding: 2px 11px 6px;
    text-transform: uppercase;
    font-family: 'Arame Bold', Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    background: #000;
    letter-spacing: 1px;
  }
  &__underscore {
    opacity: 1;
    animation: flicker 1s steps(1) infinite;
  }
}

.textbox--hardcodepunk {
  left: 220px;
  top: 224px;
  &:after {
    content: 'Hardcodepunk';
  }
}

.textbox--terminal {
  left: 360px;
  top: 70px;
  &:after {
    content: 'Terminal';
  }
}
