/*
 * lay-out
 */

.wrapper {
  width: 100%;
  padding: 0 50px 0 90px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.list--horizontal {
  .list__item {
    display: inline-block;
    margin-right: 24px;
    margin-left: -3px;
  }
}

.flex-container, .sub-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.column, .sub-column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/*
 * components
 */

.header {
  padding-top: 40px;
  .tag {
    font-size: 32px;
  }
}

.introduction {
  padding-bottom: 70px;
    &__column {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      &__portrait {
        height: 400px;
      }
    }
    &__column--left {
      padding-top: 90px;
    }
    &__column--right {
      position: relative;
      padding-top: 40px;
    }
}

.profile {
  background: #000;
  padding-bottom: 215px;
  .sub-column {
    max-width: 290px;
  }
  &__characteristics {
    padding: 140px 40px 136px 0;
    position: relative;
    &__profile-picture {
      position: relative;
      width: 215px;
      margin: 0 auto;
      &__img {
        width: 100%;
        height: auto;
      }
      &__text {
        position: absolute;
        font-family: 'Ray Two';
        font-size: 24px;
        color: #fff;
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        padding: 0 0 7px 30px;
        &:before {
          content: '';
          position: absolute;
          width: 26px;
          height: 1px;
          background: #fff;
          left: -22px;
          bottom: -10px;
        }
      }
      &__text--right {
        &:before {
          transform: rotate(-45deg);
        }
      }
      &__text--left {
        &:before {
          transform: rotate(45deg);
          left: auto;
          right: -22px;
        }
      }
      &__text--mouth {
        top: 10px;
        left: 200px;
      }
      &__text--paw {
        bottom: 36px;
        left: 227px;
      }
      &__text--tail, &__text--head {
        padding: 0 30px 7px 0;
      }
      &__text--tail {
        top: 27px;
        left: -360px;
        &:before {
          right: -34px;
          bottom: -15px;
          width: 40px;
        }
      }
      &__text--head {
        top: -40px;
        left: -220px;
        &:before {
          width: 68px;
          bottom: -25px;
          right: -58px;
        }
      }
    }
  }
  &__fields {
    color: #fff;
    font-size: 17px;
  }
  &__skills {
    color: #fff;
    font-family: 'Ray Two';
    font-size: 19px;
    &__skills-item {
      margin-bottom: 20px;
    }
  }
  &__tools {
    width: 100%;
    margin-top: 180px;
    padding-left: 85px;
    &__tools-item {
      display: inline-block;
      position: relative;
      border: 1px solid #fff;
      border-top: 0;
      border-right: 0;
      height: 55px;
      width: 30%;
      &__icon {
        background: url("../img/icon/version-control.svg") no-repeat;
        position: absolute;
        height: 30px;
        width: 30px;
        left: -15px;
        top: -60px;
        &__corner {
          position: absolute;
          border: 7px solid #fff;
          height: 14px;
          width: 14px;
        }
        &__corner--left-up {
          top: -14px;
          left: -14px;
          border-right: 0;
          border-bottom: 0;
        }
        &__corner--left-bottom {
          bottom: -14px;
          left: -14px;
          border-right: 0;
          border-top: 0;
        }
        &__corner--right-up {
          top: -14px;
          right: -14px;
          border-left: 0;
          border-bottom: 0;
        }
        &__corner--right-bottom {
          bottom: -14px;
          right: -14px;
          border-left: 0;
          border-top: 0;
        }
        &:after {
          color: #fff;
          font-family: 'Ray Two';
          font-size: 19px;
          @include translateY();
          left: 70px;
          white-space: nowrap;
        }
      }
      &__icon--version-control {
        background: url("../img/icon/version-control.svg") no-repeat;
        &:after {
          content: 'Version control';
        }
      }
      &__icon--js-task-runners {
        background: url("../img/icon/js-task-runners.svg") no-repeat;
        &:after {
          content: 'Javascript task runners';
        }
      }
      &__icon--cms {
        background: url("../img/icon/cms.svg") no-repeat;
        &:after {
          content: 'Control management systems';
        }
      }
      &:not(:first-child) {
        margin-left: -10px;
      }
      &:last-child {
        border: 1px solid #fff;
        border-right: 0;
        width: 0;
      }
    }
    &__source {
      width: 16%;
      &__illustration {
        position: absolute;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background: #fff;
        top: -80px;
        left: -40px;
        &__moon {
          position: absolute;
          background: #fff;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          left: -30px;
          top: 35px;
          &__right-up {
            right: 0;
            left: auto;
            top: -5px;
            height: 5px;
            width: 5px;
          }
          &__right-bottom {
            right: -22px;
            left: auto;
            top: 60px;
            height: 2px;
            width: 2px;
          }
        }
      }
    }
  }
}

.adventure-journal {
  width: 100%;
  padding: 125px 0 215px;
  &__quest {
    margin-bottom: 80px;
    &__body {
      display: none;
      font-family: 'Ray Two';
      margin: 25px 0 23px;
      max-width: 500px;
    }
  }
  .tag {
    font-size: 24px;
  }
}

.footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #000;
  padding: 205px 0 160px;
  &__mail {
    font-family: 'Ray Two';
    font-size: 50px;
    text-transform: uppercase;
  }
  .anchors {
    &__anchor {
      &:last-child {
        margin-right: 0;
      }
      &:before {
        filter: invert(1);
      }
    }
  }
}

.webring-anchor {
  display: inline-block;
  margin-top: 140px;
  &__icon {
    height: 40px;
    &:hover {
      height: 50px;
      margin-top: -10px;
    }
  }
}

/*
 * Styling
 */

.textbox {
  position: absolute;
  border: 4px solid #000;
  background: #fff;
  font-family: 'Ray Two';
  font-size: 30px;
  padding: 25px 20px 20px;
  &:after {
    position: absolute;
    top: -14px;
    left: 25px;
    padding: 2px 11px 6px;
    text-transform: uppercase;
    font-family: 'Arame Mono Bold', Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    background: #000;
    letter-spacing: 1px;
  }
  &__underscore {
    opacity: 1;
    animation: flicker 1s steps(1) infinite;
  }
}

.textbox--hardcodepunk {
  left: 220px;
  top: 224px;
  &:after {
    content: 'Hardcodepunk';
  }
}

.textbox--terminal {
  left: 360px;
  top: 70px;
  &:after {
    content: 'Terminal';
  }
}

.tag {
  text-transform: uppercase;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  display: inline-block;
  margin-bottom: 0.2em;
  &__text {
    font-family: 'Ray Two';
  }
}

.button {
  text-transform: uppercase;
  display: inline-block;
  border: none;
  background: none;
  position: relative;
  font-family: 'Arame Mono Bold', Futura, Trebuchet MS, Arial, sans-serif;;
  font-size: 16px;
  margin: 30px;
  padding: 10px;
  padding-left: 25px;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 0;
    top: 15px;
    background: url("../img/icon/arrow.svg") no-repeat;
  }
  &:hover {
    &:before {
      top: 18px;
    }
  }
  &__corner {
    position: absolute;
    border: 7px solid #000;
    height: 14px;
    width: 14px;
  }
  &__corner--left-up {
    top: 0;
    left: -14px;
    border-right: 0;
    border-bottom: 0;
  }
  &__corner--left-bottom {
    bottom: -4px;
    left: -14px;
    border-right: 0;
    border-top: 0;
  }
  &__corner--right-up {
    top: 0;
    right: -4px;
    border-left: 0;
    border-bottom: 0;
  }
  &__corner--right-bottom {
    bottom: -4px;
    right: -4px;
    border-left: 0;
    border-top: 0;
  }
}

.call-to-action {
  text-align: right;
}

.anchors {
  margin-top: 17px;
  &__anchor {
    position: relative;
    margin-right: 45px;
    margin-left: 25px;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      left: -25px;
      top: 4px;
      background: url("../img/icon/arrow.svg") no-repeat;
    }
    &:hover {
      &:before {
        top: 7px;
      }
    }
  }
  &__anchor--dynamic-arrow.is-active {
    &:before {
      transform: rotate(180deg);
    }
    &:hover {
      &:before {
        top: 1px;
      }
    }
  }
}

.anchored-text {
  padding: 0 2px;
  background: #000;
  color: #fff;
}

.exclamation {
  font-family: 'Ray Two';
  font-size: 50px;
  line-height: 1.4em;
}

.skill-level-indicator {
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
  height: 20px;
  background: #fff;
  transform: skewX(-45deg);
  margin-right: 3px;
  visibility: hidden;
  &:first-child {
    margin-left: 10px;
  }
  &:last-child {
    margin-right: 20px;
  }
}

.skill-level-indicator--unlocked {
  visibility: visible;
}

.is-displayed {
  display: inline-block;
}
