@media only screen and (max-width: 1400px) {
  .introduction {
    &__column--left {
      flex-grow: initial;
      flex-basis: content;
      padding-top: 40px;
      padding-right: 70px;
    }
    &__column--right {
      padding-top: 0;
    }
  }
  .exclamation {
    font-size: 36px;
  }
  .profile {
    .column {
      flex-basis: auto;
    }
  }
  .adventure-journal {
    .flex-container {
      margin: 0 -40px;
    }
    .column {
      padding: 0 40px;
      flex-grow: 0;
      flex-basis: 100%;
      max-width: 650px;
    }
  }
  .anchors__anchor {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1250px) {
  .textbox {
    font-size: 24px;
    padding: 19px 20px 14px;
    &:after {
      left: 19px;
      font-size: 14px;
    }
  }
  .textbox--terminal {
    left: 370px;
    top: 30px;
  }
  .textbox--hardcodepunk {
    left: 230px;
    top: 184px;
  }
  // profile
  .profile {
    padding-bottom: 200px;
    &__tools {
      &__tools-item {
        width: 27%;
        &__icon {
          height: 16px;
          width: 16px;
          left: -8px;
          top: -50px;
          &:after {
            font-size: 17px;
            left: 40px;
          }
        }
      }
      &__source {
        width: 16%;
      }
    }
  }
  .adventure-journal {
    padding: 70px 0 110px;
    .flex-container {
      margin: 0;
    }
    .column {
      padding: 0;
    }
  }
  .footer {
    padding: 130px 0 240px;
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 5%;
  }
  .introduction {
    .wrapper {
      padding: 0 0 0 5%;
    }
    &__column__portrait {
      height: 300px;
    }
    &__column--left {
      padding-right: 140px;
    }
    .exclamation {
      font-size: 29px;
    }
  }
  .header {
    padding-top: 70px;
  }
  .textbox--terminal {
    left: 270px;
    top: 35px;
  }
  .textbox--hardcodepunk {
    left: 172px;
    top: 140px;
  }

  // profile
  .profile {
    .sub-column {
      flex-basis: 50%;
    }
    .flex-container {
      max-width: 800px;
    }
    .sub-flex-container {
      display: block;
    }
    &__characteristics {
      padding: 200px 40px 136px 40px;
      &__profile-picture {
        width: 150px;
        &__text {
          font-size: 17px;
          padding: 0 0 7px 10px;
        }
        &__text--tail, &__text--head {
          padding: 0 10px 7px 0;
        }
        &__text--mouth {
          top: 0px;
          left: 141px;
        }
        &__text--paw {
          bottom: 30px;
          left: 160px;
        }
        &__text--head {
          top: -50px;
          left: -150px;
        }
        &__text--tail {
          top: 5px;
          left: -270px;
        }
      }
    }
    &__fields {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 1070px) {
  .introduction {
    &__column__portrait {
      height: 300px;
    }
    &__column--left {
      padding-right: 70px;
    }
  }
  .textbox {
    font-size: 20px;
    padding: 14px 17px 11px;
    &:after {
      top: -12px;
      font-size: 12px;
      padding: 2px 9px 6px;
    }
  }
  .profile {
    &__tools {
      &__tools-item {
        &__icon {
          &:after {
            white-space: pre-wrap;
          }
        }
        &__icon--js-task-runners {
          &:after {
            content: 'Javascript task runners';
          }
        }
        &__icon--cms {
          &:after {
            content: 'Control management systems';
          }
        }
      }
      &__source {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .introduction {
    &__column--left {
      padding-right: 40px;
    }
    .wrapper {
      padding: 0 5%;
    }
    .exclamation {
      font-size: 24px;
    }
  }
  .flex-container, .sub-flex-container {
    justify-content: space-evenly;
  }
  .profile {
    &__fields {
      padding-right: 20px;
    }
    &__skills {
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .introduction {
    &__column__portrait {
      padding-left: 170px;
    }
  }
  .introduction__column--left, .column {
    flex-grow: 0;
    flex-basis: 100%;
  }
  .textbox--hardcodepunk {
    left: 340px;
  }
  .textbox--terminal {
    left: 450px;
  }
  .exclamation {
    font-size: 40px;
  }

}

@media only screen and (max-width: 740px) {
  .introduction {
    &__column__portrait {
      padding-left: 70px;
    }
  }
  .textbox--hardcodepunk {
    left: 240px;
  }
  .textbox--terminal {
    left: 340px;
  }
  .profile {
    &__tools {
      &__tools-item {
        display: block;
        height: 110px;
        width: 30%;
        &__icon {
          height: 16px;
          width: 16px;
          left: 120%;
          top: -8px;
          &:after {

          }
        }
        &:not(:first-child) {
          margin-left: 0;
        }
        &:last-child {
          width: 30%;
          height: 0;
          border: 0;
        }
      }
      &__source {
        height: 70px;
        width: 30%;
      }
    }
    &__characteristics {
      &__profile-picture {
        margin: 0;
        &__text--mouth, &__text--tail, &__text--paw, &__text--head {
          left: 160px;
          right: auto;
        }
        &__text--tail {
          top: auto;
          bottom: 100px;
        }
        &__text--left {
          &:before {
            transform: rotate(-45deg);
            left: -34px;
            right: auto;
          }
        }
        &__text--head {
          left: 120px;
          top: -40px;
          &:before {
            width: 35px;
            left: -29px;
            bottom: -13px;
          }
        }
        &__text--mouth {
          left: 140px;
          top: 3px;
          &:before {
            width: 58px;
            left: -49px;
            bottom: -21px;
          }
        }
        &__text--tail {
          left: 150px;
          bottom: 117px;
        }
      }
    }
  }
  .adventure-journal {
    .anchors__anchor {
      display: block;
      margin-bottom: 1em;
    }
  }
}

@media only screen and (max-width: 590px) {
  .introduction {
    &__column__portrait {
      padding-left: 0px;
    }
  }
  .textbox--hardcodepunk {
    left: 170px;
  }
  .textbox--terminal {
    left: 270px;
  }
  .footer {
    &__mail {
      font-size: 30px;
    }
    .anchors {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .header {
    padding-top: 40px;
    &__title {
      font-size: 45px;
    }
    &__sub-title {
      font-size: 17px;
    }
    .tag {
      font-size: 20px;
    }
  }
  .introduction {
    padding-bottom: 70px;
    &__column--left {
      padding-top: 20px;
    }
  }
  .list--horizontal .list__item {
    margin-right: 0;
  }
  .exclamation {
    font-size: 29px;
    margin-bottom: 0;
  }
  .profile {
    &__characteristics {
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 520px) {
  .textbox--terminal {
    left: 210px;
    top: 115px;
  }
  .textbox--hardcodepunk {
    left: 110px;
    top: 185px;
  }
  .flex-container, .sub-flex-container {
    justify-content: flex-start;
  }
  .profile {
    &__fields {
      padding-right: 0;
    }
    &__fields, &__skills {
      padding-left: 40px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .introduction {
    padding-bottom: 140px;
  }
  .textbox--hardcodepunk {
    left: 0;
    top: 280px;
  }
  .textbox--terminal {
    left: 120px;
    top: 145px;
  }
  .profile {
    &__characteristics {
      padding-bottom: 70px;
      &__profile-picture {
        width: 100px;
        &__text {
          font-size: 15px;
          padding: 0 0 7px 0;
        }
        &__text--tail {
          left: 10px;
          bottom: 196px;
          &:before {
            transform: rotate(-90deg);
            left: -56px;
            right: auto;
            bottom: -57px;
            width: 112px;
          }
        }
        &__text--head {
          left: 90px;
          top: -45px;
        }
        &__text--mouth {
          left: 100px;
          top: 20px;
        }
        &__text--paw {
          bottom: 27px;
          left: 115px;
        }
      }
    }
  }
  .adventure-journal {
    &__title {
      font-size: 45px;
    }
  }
  .footer__mail {
    font-size: 24px;
  }
}

@media only screen and (max-width: 380px) {
  .introduction {
    &__column--left {
      padding-right: 0;
      padding-top: 20px;
    }
  }
  .header__title {
    font-size: 40px;
  }
}
